<div class="login-container">
  <div class="wrapper">
    <form [formGroup]="SignUpform" (ngSubmit)="onSubmit()">
      <h2>Sign Up</h2>

      <!-- Email -->
      <!-- <div class="form-ele">
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          placeholder="Enter email"
        />
      </div> -->
      <app-cs-input
        label="Email"
        type="email"
        id="email"
        formControlName="email"
        placeholder="Enter Email"
      />
      @if (email?.errors?.["required"] && (email?.dirty || email?.touched)) {
        <small>Email is required</small>
      }
      <!-- Username -->
      <!-- <div class="form-ele">
        <label for="username">Username</label>
        <input
          id="username"
          type="text"
          formControlName="username"
          placeholder="Enter username"
        />
      </div> -->

      <app-cs-input
        label="Username"
        id="username"
        type="text"
        placeholder="Enter Username"
        formControlName="username"
      />
      <!-- @if (userName?.invalid && (userName?.dirty || userName?.touched)) {
          <span class="error">Enter Valid UserName</span>
        } -->
      <!-- Password -->
      <app-cs-input
        label="Password"
        id="password"
        type="password"
        placeholder="Enter Password"
        formControlName="password"
      />
      @if (
        SignUpform.get("password")?.invalid &&
        (SignUpform.get("password")?.touched ||
          SignUpform.get("password")?.dirty)
      ) {}

      <!-- Confirm Password -->
      <app-cs-input
        label="ConfirmPassword"
        id="confirmPassword"
        type="password"
        placeholder="Enter Password"
        formControlName="confirmPassword"
      />
      @if (SignUpform.errors?.["passwordMismatch"] && confirmPassword?.touched) {
        <small>Passwords do not match</small>
      }
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="SignUpform.invalid"
      >
        Sign Up
      </button>

      <p>
        Already have an account?
        <a routerLink="/login">Login</a>
      </p>
    </form>
  </div>
</div>
