<div class="login-container">
  <div class="wrapper">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2>Login</h2>
      <div class="form-ele">
        <label for="userName">Username</label>
        <input
          id="userName"
          type="text"
          formControlName="userName"
          placeholder="Enter name"
        />
        @if (userName?.invalid && (userName?.dirty || userName?.touched)) {
          <span class="error">Enter Valid UserName</span>
        }
      </div>
      <div class="form-ele">
        <label for="password">Password</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          placeholder="Enter password"
        />
        @if (passWord?.invalid && (passWord?.dirty || passWord?.touched)) {
          <span class="error">Enter Valid Password </span>
        }
      </div>
      @if (wrong) {
        <span class="error">Either Username Or Password Is Wrong</span>
      }
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>

      <p>Don't have an account? <a routerLink="/signup">Sign Up</a></p>
    </form>
  </div>
</div>
