<!-- 
    <input type="text" name="name" [(ngModel)]="name"  ngModel>
    <input type="text"  [ngModel]="userName" (input)="getChange()"  ngModel> -->
<!-- {{ name }} -->
<!-- <input type="text" [(ngModel)]="name" #nameRef />
    
    <input type="text" [ngModel]="userName" (ngModelChange)="getChange($event)" /> -->
<!--     
    <app-child #child [loggedin]="userLoggedIn" /> -->
<!-- {{child.messg}} -->
<!-- <h1>Parent Component</h1> -->
<!-- <app-child (greetEvent)="greet($event)" /> -->
<!-- <h1>tecaher</h1>
<button (click)="greetStudent()">Greet</button>
<button (click)="AppreciateStudents()">Appreciate</button>
<app-child /> -->
<!-- <app-dragable/> -->

<!-- ! Todo-->
<!-- <app-rxjs-basics /> -->
<!-- <span>
    <input type="text" name="" id="" #element>
    <button (click)="addTask(element)" >Add</button>
    </span>


    <ul style="display: flex; flex-direction: column; gap: 40px;">
    @for (li of list; track li) {
    <span style="display: flex; gap: 40px;"> <li>{{ li }}</li> <button (click)="delete(li)">Delete</button></span>
    }
    </ul> -->

<!-- <select name="" id="" (change)="onRoleChange($event)">
  <option value="Guest">Guest</option>
  <option value="Admin">Admin</option>
  <option value="SAdmin">Super Admin</option>
</select>
<app-child/> -->
<input type="text" [(ngModel)]="input" name="" id="">
<br><br>
<h1>Input Comes Here:{{input}}</h1>
<app-dragable [Input]="input"/>