<!-- <h3>{{name}}</h3>
<app-login/>
<app-profile/> -->

<!-- <button (click)="sum(10,20)">CLick Me</button> -->

<!-- 
<app-counter/> -->

<!-- <button (click)="handleEvent($event)">Click ME</button>
<br>
<div (mouseenter)="handleEvent($event)" style="height: 200px; width: 200px; background-color: red;"></div>

<br>
<br> -->
<!-- <h1>{{displayName}}</h1>
<input type="text" value="{{name}}" name="" id="" placeholder="Do input" 
(input)="getName(email.value)" #email>
<br>
<br>
<button (click)="setValue()">Get Value</button>
<button (click)="setName($event)">Set Value</button> -->
<!-- @if(display){

<div style="width: 200px; height: 200px; background-color: aqua"></div>
} @else{
<div style="width: 200px; height: 200px; background-color: yellowgreen"></div>
}
<button (click)="onClick()">
    {{display?'Red':'Yellow'}}
</button> -->
<!-- <button (click)="handler(1)">Red</button>
<button (click)="handler(2)">Blue</button>
<button (click)="handler(3)">Yellow</button>
<button (click)="handler(4)">Balck</button> -->
<!-- <input type="text" (input)="onChange($event)" name="" id="" /> -->
<!-- @if(color===1){

<div style="background-color: red; width: 100px; height: 100px"></div>
} @else if(color===2){

<div style="background-color: blue; width: 100px; height: 100px"></div>
} @else if(color===3){

<div style="background-color: yellow; width: 100px; height: 100px"></div>
} @else{

<div style="background-color: black; width: 100px; height: 100px"></div>
} -->
<!-- <div style="background-color: {{ color }}; width: 100px; height: 100px"></div> -->

<!-- @for(aet of articles;track articles){
    <h2>aet</h2>

} -->
<!-- <h1>{{x}}</h1>
<button (click)="updateX('inc')">Increment</button>
<h1>{{count()}}</h1> -->
<!-- <h1>{{data()}}</h1>
<button (click)="updateSignal('dec')">Decrement</button>
<h1>{{count}}</h1> -->
<!-- <h1>{{count()}}</h1> 
@if(display)
{<h1>Hello</h1>}
<button (click)="toggleVal()">Show</button> -->
<!-- 
@for(a of arr;track arr){ -->

<!-- @if($first || $last){

        <h3 style="background-color: red;">Index of value{{a}} is {{$index}}</h3>
    }@else{

        <h3>Index of value{{a}} is {{$index}}</h3>
    } -->
<!-- @if($even){ -->

<!-- <h3 style="background-color: red">Index of value{{ a }} is {{ $index }}</h3>
}@else{

<h3 style="background-color: yellow">Index of value{{ a }} is {{ $index }}</h3>
} } -->
<!-- 

@for(a of temp;track temp){

}@empty{
    <h1>No records</h1>
} -->

<!-- <input type="text" [(ngModel)]="data "  placeholder="Enter" name="" id="">
    <h1>{{data}}</h1> -->

<!-- <div class="wrapper">
  <h1>Todo List</h1>

  <span
    ><input type="text" placeholder="Enter the Task" [(ngModel)]="task" />
    <button (click)="addTask()">Add Task</button></span
  >

  <div class="tasklist">
    <ul>
      @for(task of taskList;track taskList){
      <li> 
        @if(task.completed){
        <span>{{ task.title }}</span>
        }@else{
        {{ task.title }}
        } @if(!task.completed){
        <button (click)="markDone(task.id)">Done</button>
        }
        <button (click)="deleteTask(task.id)">Delet</button>
      </li>

      }@empty{
      <li>No Items</li>
      }
    </ul>
  </div>
</div> -->

<!-- <h1 *ngIf="show">Hello</h1> -->
<!-- 
<ul>
    <li *ngFor="let item of arr">{{item}}</li>
</ul>
<ul>
  @for(it of arr;track arr){
    <li>{{it}}</li>
  }
</ul> -->
<!-- 
<app-header/>
<h1>Hello</h1>

<router-outlet/> -->

<!-- !Forms !-->

<!--! Reactive Forms-->
<!-- <form [formGroup]="formData" (ngSubmit)="onSubmit()">
  <input type="text" placeholder="Enter Name" formControlName="name" />
  <br /><br />
  <input type="password" placeholder="Password" formControlName="password" />
  <br /><br />
  <input type="email" placeholder="Email" formControlName="email" />
  <br /><br /> -->

<!-- <button type="button" (click)="display()">Login</b utton>
  <button type="button" (click)="setVal()">Set values in fields</button> -->

<!-- <button>Submit</button>
  <button type="button" (click)="setValue()">SetValues</button> -->

<!-- !Validators -->
<!-- <form [formGroup]="formData" (ngSubmit)="onSubmit()">
  <input type="text" placeholder="Enter Name" formControlName="name" />
  <span *ngIf="name?.hasError('required')">Name is required</span>
  <span *ngIf="name?.invalid && (name?.dirty || name?.touched)"
    >Please Enter User Name</span
  >
  <br /><br />
  <input type="password" placeholder="Password" formControlName="password" />
  <br /><br />
  <input type="email" placeholder="Email" formControlName="email" />
  <br /><br />
  <button>Submit</button>
</form> -->

<!--! Template Dirven Forms -->
<!-- <form #userForm="ngForm" (ngSubmit)="addDetailes(userForm.value)">
  <input #name="ngModel" type="text" placeholder="Enter Name" name="name" id="" required  ngModel />
  <span class="error" *ngIf="name.invalid && name.touched">Name is required</span>
  <br /><br />
  <input
  type="password"
  placeholder="Enter passwrod"
  name="password"
  id=""
  #password="ngModel"
  ngModel
  required
  minlength="5"
  maxlength="10"
  />
  <span class="error" *ngIf="password.invalid && password.touched">password  is required</span>
   <input
  type="email"
  placeholder="Enter passwrod"
  name="email"
  id=""
  #email="ngModel"
  ngModel
  required
  minlength="5"
  maxlength="10"
  email
  />
  <span class="error" *ngIf="email.invalid && email.touched">email is required</span>
  <br /><br />
  <select name="gender" id="" ngModel>
    <option value="">Enet GEnder</option>
    <option value="m">Male</option>
    <option value="f">FeMale</option>
  </select>

  <br /><br />
  <input type="range" min="0" max="20" name="range" id="" ngModel />
  <button [disabled]="userForm.invalid ">Add User</button>
</form> -->
<!--  
<h2>{{userDeatils}}</h2> -->

<!-- <app-form/> -->
<!-- <router-outlet/>  -->

<!--! Data PAssing Parent to Child -->
<!-- <h1>Parent Component</h1>
<app-user [user]="userName" city="Delh"/>

<select #selectedUser (change)="onUserCh(selectedUser.value)" name="" id="">
  <option value="a">A</option>
  <option value="b">B</option>
  <option value="c">C</option>
</select> -->

<!-- <div class="grid-wrapper">
@for (user of users; track user.id) {
    <app-user [user]="user.name" [isActive]="user.isActive" />
    <app-user  [user]="user" />
  }
</div> -->
<!-- <app-user (getArr)="handleArr($event)"/>
@for(a of arr;track a){
  <li>a</li> -->
<!-- }
   -->

<!--! Pipes -->
<!-- 
<h1>{{ title | uppercase }}</h1>
<h1>{{ title | lowercase }}</h1>
<h1>{{ title | titlecase }}</h1>
<h1>{{date | date}}</h1>
<h1>{{date | date:'fullDate'}}</h1>
<h1>{{date | date:'hh:mm:ss'}}</h1>

<h1>{{20 | currency:'INR'}}</h1>

<h1>{{date | date:'fullDate' | uppercase}}</h1> -->

<!--! Custome Pipes -->
<!-- <h2>{{amount |currencyConvert}}</h2>
<h2>{{amount |currencyConvert:12}}</h2> -->
<!-- 
<h1>{{count}}</h1>
<button (click)="updateCount()"></button>
<div *ngIf="count!==5">
  <app-user [counter]="count" #user />
</div> -->

<!-- 
<app-form/>
@for(item of data;track item.id){
  <ul>
    <li>{{item.name}}</li>
  </ul>
} -->

<!-- <h1>Lazy Loading Example</h1>

<a [routerLink]="['/admin']" routerLinkActive="router-link-active" >Go to Admin</a>
<router-outlet/>  -->
<!-- 
<h1>Build And Deployed
</h1> -->
<!-- <form action="" #user="ngForm">
  <input
    type="text"
    name="name"
    placeholder="Enter Your name"
    #name="ngModel"
    ngModel
    required
    [class.is-invalid]="name.invalid && name.touched"
  />
</form> -->

<form [formGroup]="form">

  <input type="text" formControlName="name">
  <input type="email" formControlName="email">

  <button type="button" (click)="addEmail()">
    Add alternate email
  </button>

  <div formArrayName="alternateEmails">
    @for (email of alternateEmails.controls; track $index; let i = $index) {
      <input type="text" [formControlName]="i">
    }
  </div>

</form>

{{ form.value | json }}
